/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/03/2016, 15:28:44
    Author     : Aluno
*/

tr:nth-child(odd) {
    background: white;
    height: 20px;
} 
tr:nth-child(even) {
    background: black;

    height: 20px;
} 

